[defaults]
# Indica la ruta del inventario por defecto
inventory = ./inventario/inventario.ini

# Evita que Ansible pida confirmación de la huella digital SSH
host_key_checking = False

# Usa el motor de conexión de red
[persistent_connection]
command_timeout = 30